body {
    scroll-behavior: smooth;
    background: linear-gradient(to right, #0c0f1a, #1c1f2a);
    font-family: 'Segoe UI', sans-serif;
  }
  .table img {
    width: 60px;
    border-radius: 8px;
  }
  tr:hover {
    background-color: #2c2f3a;
  }
  .btn-icon {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.3rem;
  }
  .btn-icon:hover {
    color: #0dcaf0;
  }
  #search {
    color: #fff;
  }